[submodule "misasim/misasim"]
	path = workflow/scripts/misasim
	url = https://github.com/logsdon-lab/misasim.git
	ignore = "dirty"
[submodule "flagger"]
	path = workflow/scripts/flagger
	url = https://github.com/mobinasri/flagger.git
	ignore = "dirty"
[submodule "workflow/rules/misasim/Inspector"]
	path = workflow/scripts/Inspector
	url = https://github.com/Maggi-Chen/Inspector.git
	ignore = "dirty"
[submodule "workflow/rules/Snakemake-NucFlag"]
	path = workflow/rules/Snakemake-NucFlag
	url = https://github.com/logsdon-lab/Snakemake-NucFlag.git
	branch = feature/nucflag-v1.0
	ignore = "dirty"
[submodule "workflow/rules/Snakemake-Assembly"]
	path = workflow/rules/compare_assembly/Snakemake-Assembly
	url = https://github.com/logsdon-lab/Snakemake-Assembly
	ignore = "dirty"
[submodule "workflow/rules/curated/Snakemake-merqury"]
	path = workflow/rules/curated/Snakemake-merqury
	url = https://github.com/logsdon-lab/Snakemake-merqury.git
