[submodule "misasim/Snakemake-NucFlag"]
	path = workflow/rules/misasim/Snakemake-NucFlag
	url = https://github.com/logsdon-lab/Snakemake-NucFlag
	branch = "feature/nucflag-v1.0"
	ignore = "dirty"
[submodule "misasim/misasim"]
	path = workflow/rules/misasim/misasim
	url = https://github.com/logsdon-lab/misasim.git
	ignore = "dirty"
[submodule "flagger"]
	path = workflow/rules/misasim/flagger
	url = https://github.com/mobinasri/flagger.git
	ignore = "dirty"
[submodule "workflow/rules/misasim/Inspector"]
	path = workflow/rules/misasim/Inspector
	url = https://github.com/Maggi-Chen/Inspector.git
	ignore = "dirty"
[submodule "workflow/rules/curated/Snakemake-NucFlag"]
	path = workflow/rules/curated/Snakemake-NucFlag
	url = https://github.com/logsdon-lab/Snakemake-NucFlag
	branch = "feature/nucflag-v1.0"
	ignore = "dirty"
[submodule "workflow/rules/aligners/Snakemake-NucFlag"]
	path = workflow/rules/aligners/Snakemake-NucFlag
	url = https://github.com/logsdon-lab/Snakemake-NucFlag
	branch = feature/nucflag-v1.0
	ignore = "dirty"
